[Unit]
Description=Mil-All Backend Server
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/luftaquila/mil-all/server
ExecStart=/usr/bin/node /home/luftaquila/mil-all/server/server.js
Restart=always

[Install]
WantedBy=multi-user.target
